/* =====================
   COVER UNDANGAN
===================== */


.cover {

    width:100%;
    height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,0.35),
        rgba(0,0,0,0.45)
    ),
    url("assets/image/cover.jpg");


    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    color:white;

    position:relative;

}


.cover-content{

    z-index:2;

}


.small-text{

    font-family:Poppins;
    font-size:18px;

    letter-spacing:3px;

    margin-bottom:20px;

}



.cover h1{

    font-family:'Great Vibes', cursive;

    font-size:90px;

    font-weight:400;

    line-height:1;

}



.cover h1 span{

    font-size:55px;

    margin:0 20px;

}



.date{

    margin-top:30px;

    font-size:18px;

    letter-spacing:2px;

}



.open-btn{


    margin-top:40px;

    padding:15px 45px;

    border:none;

    border-radius:50px;


    background:#d4a373;

    color:white;


    font-size:16px;

    cursor:pointer;


    transition:.3s;

}



.open-btn:hover{

    transform:scale(1.05);

    background:#b08968;

}
